<div class="mt-4" >
    <h3>Đăng khóa học</h3>
    <form  action="/courses/store" method="POST">
        <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">tên khóa học</span>
            <input type="text" class="form-control" placeholder="Nhập tên" aria-label="Nhập tên" aria-describedby="addon-wrapping" name="name">
        </div>
        <div class="input-group flex-nowrap mt-4">
            <span class="input-group-text" id="addon-wrapping">Mô tả</span>
            <input type="text" class="form-control" placeholder="Nhập mô tả" aria-label="Nhập mô tả" aria-describedby="addon-wrapping" name="desciption">
        </div>
        <div class="input-group flex-nowrap mt-4">
            <span class="input-group-text" id="addon-wrapping">Video Id</span>
            <input type="text" class="form-control" placeholder="Nhập video Id" aria-label="Nhập video Id" aria-describedby="addon-wrapping" name="videoId">
        </div>
        <div class="input-group flex-nowrap mt-4">
            <span class="input-group-text" id="addon-wrapping">Trình độ</span>
            <input type="text" class="form-control" placeholder="Nhập trình độ" aria-label="Nhập trình độ" aria-describedby="addon-wrapping" name="level">
        </div>
        <div class="mt-4">
            <button type="submit" class="btn btn-primary">Thêm khóa học</button>
        </div>
    </form>
</div>