<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
                <a class="navbar-brand" href="/">F8-Courses</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">
                        <div class="dropdown">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="https://scontent.fsgn5-1.fna.fbcdn.net/v/t1.0-9/139593856_1704566113046482_9213243453397926342_n.jpg?_nc_cat=101&ccb=2&_nc_sid=09cbfe&_nc_ohc=71tNWkBfCZUAX-HcW38&_nc_ht=scontent.fsgn5-1.fna&oh=8c6d9d6b4ccc62c8750eb72bb8c35ecb&oe=60395D08" alt="" class="ava-name">
                                Trí Trung
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="/courses/create">Đăng khóa học</a></li>
                                <li><div class="dropdown-divider"></div></li>
                                <li><a class="dropdown-item" href="/me/stored/courses">Khóa học của tôi</a></li>
                                <li><div class="dropdown-divider"></div></li>
                                <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
                            </ul>
                        </div>
                    </ul> 
                </div>
    </div>
</nav>